.name{
  position: absolute;
  /* margin-left: 30%; */
  font-size: 16px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  left: 1220px;
}

ul#menu li {
  display:inline;
  margin-left: -3%;
}

.title{
  font-size: 25px;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
}
 .avtar{
  position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    color: floralwhite;
    line-height: 35px;
    text-align: center;
    background: linear-gradient(180deg, #FFC700 0%, #D1A402 100%);
    display: inline-block;

 }
