<!-- <app-sidebar></app-sidebar> -->


<div style="margin-left:20%">

  <div class="w3-container ">
    <app-navbar [title]="title" ></app-navbar>
  </div>

  <div class="w3-container">

     <ul id="menu">
       <li class="left">All Clients</li>
       <li class="right"><button nz-button nzType="primary" (click)="showModal()">
        <span>Create client</span>
      </button>
      <nz-modal
      [nzStyle]="{ top: '20px' }"
      [(nzVisible)]="isVisible"
      [nzTitle]="modalTitle"
      [nzContent]="modalContent"
      [nzFooter]="modalFooter"
      (nzOnCancel)="handleCancel()"
      [nzWidth]=600
    >
      <ng-template #modalTitle>upload Client</ng-template>

      <ng-template #modalContent>
         <ng-container  *ngIf="!toggle();else screen2">
        <label for="upload" class="cloud">
          <img src="assets/img/cloud.svg" alt="cloud" />
          <input type="file" id="upload" (change)="uploadClient($event)" style="display: none;">
        </label>
        <div class="text1">You can only upload <strong>.xlsx</strong>  and <strong>.csv</strong></div>
        <div class="text2">Note : Excel Upload needs a specific format to upload data. <br/> Please go through the given template before upload</div>
        <br/>
        <div class="text3"> <img src="assets/img/file.svg" alt="file"/> &nbsp;&nbsp; Download Template </div>
        <br/><br/>
        <button class="upload" [disabled]="!toggle()" >Upload</button>
        <br/><br/><br/><br/><br/><br/>
      </ng-container>
      <ng-template  #screen2 >
        <img src="assets/img/Group.svg" alt="file" class="file">
        <br/>
        <span class="filename">
          {{selectedFiles[0].name}}
        </span>
        <br/>
        <button class="back" (click)="back()">change</button>
        <br/><br/><br/>
        <button class="upload" (click)="upload()" >Upload</button>
        <br/><br/><br/><br/>
      </ng-template>
      </ng-template>

      <ng-template #modalFooter>

      </ng-template>
    </nz-modal></li>
     </ul>

     <div class="table">
      <nz-table
      [nzData]="listOfData"
      [nzShowPagination]="false"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      [nzScroll]="{y: '400px'}"
    >
      <thead>
        <tr>
          <th

            [(nzChecked)]="checked"
            [nzIndeterminate]="indeterminate"
            (nzCheckedChange)="onAllChecked($event)"
          ></th>
          <th>Name
            <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th>Email</th>
          <th>Company Name</th>
          <th>Mobile Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of listOfCurrentPageData">
          <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">

          <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
          <td>{{ data.name }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.companyName }}</td>
          <td>{{ data.mobileNo }}</td>
          <td><a (click)="startEdit(data.id)"><i nz-icon nzType="edit" nzTheme="outline"></i></a> &nbsp; &nbsp; <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="onDelete(data.id)"><i nz-icon nzType="delete" nzTheme="outline"></i></a></td>
          </ng-container>
          <ng-template #editTemplate>
            <td [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.name" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.email" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.companyName" /></td>
            <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.mobileNo" /></td>
            <td>
              <a (click)="saveEdit(data.id)" class="save"><i nz-icon nzType="check" nzTheme="outline"></i></a> &nbsp;&nbsp;
              <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)"><i nz-icon nzType="close" nzTheme="outline"></i></a>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
     </div>

  </div>

  </div>
