ul#menu li {
  display:inline;
  margin-left: -3%;
  font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 36px;
}

.right{
  font-size: 16px !important;
  margin-left: 50%;
  left: 1000px;
  position: absolute;
}

.table{
  position: absolute;
width: 75%;
height: 400px;
/* margin-left: -3%; */


/* white */

background: #FFFFFF;
/* Border stroke */

border: 1px solid #DADADA;
box-sizing: border-box;
border-radius: 10px;
}

.submit{
  position: absolute;
width: 200px;
height: 48px;
/* left: 270px;
top: 662px; */
margin-top: 33%;

/* Linear 2 */

background: linear-gradient(269.51deg, #8F1FC4 1.37%, #5F048A 98.48%);
border-radius: 10px;
font-family: Karla;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
color: floralwhite;
}
