<!-- <app-sidebar></app-sidebar> -->


<div style="margin-left:20%">

  <div class="w3-container ">
    <app-navbar [title]="title" ></app-navbar>
  </div>

  <div class="w3-container">
    <ul id="menu">
      <li class="left">All History</li>
      <li class="right">
        <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
      </li>
    </ul>
    <div class="table">
      <nz-table
      [nzData]="historyList"
      [nzShowPagination]="false"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      [nzScroll]="{y: '400px'}"
    >
      <thead>
        <tr>

          <th>Client Name
            <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
              <i nz-icon nzType="search"></i>
            </nz-filter-trigger>
          </th>
          <th>Client Email</th>
          <th>Campaign Name</th>
          <th>Campaign Subject</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of historyList">

          <td>{{ data.clientName }}</td>
          <td>{{ data.clientEmail }}</td>
          <td>{{ data.campaignName }}</td>
          <td>{{ data.campaignSubject }}</td>
          <td>{{ data.createdAt.toDate() |date }}</td>


        </tr>
      </tbody>
    </nz-table>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
          <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
          <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
      </div>
    </nz-dropdown-menu>
     </div>
  </div>

  </div>
