<div>
    <div class='w3-sidebar w3-light-white w3-bar-block'>
        <h3 class="w3-bar-item">
            <img width='200px' height='36px' src='../../../assets/img/NavLogo.svg' alt='logo' />
        </h3>
        <a href='/Dashboard'>
            <span>
                <img src="../../../assets/img/dashboard.svg" alt='dashboard' /> Dashboard
            </span>
        </a>

        <a href='/client'>
            <span>

                <img src='../../../assets/img/users.svg' alt='users' /> Client
            </span>
        </a>
        <a href='/campaigns'>
            <span>

                <img src='../../../assets/img/campaigns.svg' alt='campaigns' /> Campaigns
            </span>
        </a>
        <a href='/mailer'>
            <span>

                <img src='../../../assets/img/mail.svg' alt='mail' /> Mailers
            </span>
        </a>
        <a href='/history'>
            <span>

                <img src='../../../assets/img/history.png' height='14px' width='14px' alt='mail' />
                History
            </span>
        </a>
        <button>
            <span>
                <img src='../../../assets/img/log-out.svg' alt='log' /> Logout
            </span>
        </button>
    </div>
</div>